*.idea
.ipynb_checkpoints
./debug.log
*.wma
*.log
snippets
.virtual_documents
*.db
*.gif
train.csv
test.csv
*.zip
media
*.mp4
catboost_info
train_oct.csv
*.parquet
raw
prepared
raw
prepared
data
models
images
*.Identifier
